html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.calculator {
  border: 1px solid #ccc;
  border-radius: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 375px;
  height: 650px;
  background: linear-gradient(191.34deg, #17181a -4.95%, #17181a 103.74%);
}

.calculator-screen {
  width: 100%;
  font-size: 5rem;
  height: 80px;
  border: 1px;
  background-color: #afaeae00;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 72px;
  color: #ffffff;
  text-align: right;
  padding-right: 20px;
  padding-left: 10px;
  border-radius: 50px;
  outline: none;
  top: 50px;
  margin-top: 20px;
  position: absolute;
}

button {
  height: 60px;
  background-color: #303136;
  border-radius: 16px;
  border: none;
  font-size: 2rem;
  color: #29a8ff;
  transition: 0.6s;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
}

button:hover {
  background-color: #535458;
}

.operator {
  color: #339dff;
  background-color: #005db2;
}
.operator:hover{
  background-color:#023c74 ;
}
.all-clear {
  background-color: #616161;
  border-color: #a5a5a5;
  color: #fff;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}

.all-clear:hover {
  background-color: #303136;
}

.equal-sign {
  background-color: #1991ff;
  border-color: #337cac;
  color: #fff;
  height: 100%;
  grid-area: 2 / 4 / 6 / 5;
  border-radius: 12px;
}

.equal-sign:hover {
  background-color: #023c74;
}

.calculator-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 20px;
  margin-top: 130px;
}
